# python ka chill with ammar
## how are yo 
### my name is arbaz

### **01-first program**

In [1]:
print(2+3)
print("learn with ammar")
print("my name is arbaz")

5
learn with ammar
my name is arbaz

### **02-operaters**

In [2]:
print(10%2)
print(10//2)
print(2**5)
print(3**2/4*5-3+4)

0
5
32
12.25

### **03-variables**

In [3]:
print("how are you")
print('hey how are you')
print('''my name is arbaz ''')
print("arbaz's laptop")

how are you
hey how are you
my name is arbaz
arbaz's laptop

### **04-comments **

In [4]:
print(2+3)# methametic function
print("learn with ammar") # is ki vjha sai yai line print hi hogha 
print("my name is arbaz")

5
learn with ammar
my name is arbaz

## **05-variables**

In [5]:
x=5        # int or nnumeric variable
print(x)
y= "my name is arbaz"  #string variable  
print(y)
x=x+10  #update the value of x
print(x)
# how we can check type of variable 
print(type(x))
print(type(y))

5
my name is arbaz
15
<class 'int'>
<class 'str'>

# Rules for python
#01- variables only contains ,numbers,letters,underscore
#02-case senstive (mostly use lower case )
#03-spaces are not allowed
#04-do note use the keyword like(break,test,mean ,mode,median)
#05-short and descriptive 
#06-do note start with number

In [6]:
fruite_baskit='mango','apple'
print(fruite_baskit)
print(type(fruite_baskit))
fruite_baskit=8
print(type(fruite_baskit))

('mango', 'apple')
<class 'tuple'>
<class 'int'>

## **06-input functions**

In [ ]:
y=input("enter your Registration no ")
greetings=(",uaf tts student")
print(x,y,greetings)

##3 input function

In [ ]:
name=input("enter your good name ")
cnic=input("enter your valid ide card no ")
greetings=(",pakistani")
print(name,cnic,greetings)

## **07-condition logic**

# logical operator 
# less then <
# greater then >
#ater then equal >=
# equal to == not equal to !=
# less then equal to <=

how we can use logic operator in python

In [ ]:
 print(4==4)
# print(3>4)
# print(3<4)
# print(3==4)
# print(3!=4)

# # REAL life example of python

In [ ]:
school_admission_age=5
 haseem_age=5
# print(school_admission_age==haseem_age)

In [ ]:
school_admission_age=5
student_age = input("enter your age ")
student_age = int(student_age)
print(school_admission_age==student_age )

## **08-condition logic**

In [ ]:
x=5                     #type int
y=5.23                  #type float 
z="my name is arbaz "   #type str
# print(type(x))
# type of convertion implicit
# x=x*y
# print(type(x))
# x=x+y
# print(x,type(x))
#type of convertion expilicit
school_admission_age=5
student_age = input("enter your age ")
student_age = int(student_age)
print(school_admission_age==student_age )